<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form id="loginForm">
            <label for="email">Email:</label>
            <input type="text" id="email" placeholder="Enter your email" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Enter your password" required>
            
            <button type="submit">Login</button>
        </form>
        <div class="link">
            <p>Don't have an account? <a href="signup.html">Sign Up</a></p>
        </div>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            if (email === "test@example.com" && password === "password") {
                alert("Login successful!");
                window.location.replace = "Hotel.html"; 
            } else {
                alert("Invalid email or password.");
            }
        });
    </script>
</body>
</html>
